.App {
   min-height: 100vh;
   text-align: center;
   background: radial-gradient(black, black, black, rgb(34, 105, 34));
   overflow-y: hidden;
}

.active {
   text-shadow: 0 0 25px greenyellow,
      0 0 25px greenyellow,
      0 0 25px greenyellow
}